{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "arrowFunctions": true,
      "blockBindings": true,
      "forOf": true,
      "modules": true,
      "spread": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true
  },
  "extends": "axp"
}
